{% extends 'base.html' %}

{% block content %}
<section class="about-section">
    <div class="about-container">
        <div class="row">
            <div class="about-section-title">
                <h2 data-heading="about">About The Blog</h2>
            </div>
        </div>
        <div class="row">
            <!-- about item start -->
            <div class="about-item">
                <div class="about-item-inner">
                    <p>Blogga is a blogging app for everyone, to share thoughts, ideas and memories
                        heargrsigorwngNSodihGJSDSAFDZdsgfkzgdFAGZkdfsddk </p>
                </div>
            </div>
            <!-- about item end -->
        </div>

        <div class="row">
            <div class="about-section-title">
                <h2 data-heading="about">About the Creator</h2>
            </div>
        </div>
        <div class="row">
            <div class="profile-pic">
                <div class="profile-pic-box">
                    <img src="/static/img/denoise_My_AltSchool_ (2).jpg" alt="Profile-pic">
                </div>
            </div>
        </div>
        <!-- about item start -->
        <div class="row">
            <div class="about-item">
                <div class="about-item-inner">
                    <p>Blogga was made with ♥ by Emmanuel Kabari <br> He is a student of AltSchool Africa, School of
                        Software Engineering, studying Back-End Engineering who is on a journey of becoming a world
                        class engineer. He is currently learning the Python Flask Framework. Find out more about him on</p>
                    <ul class="footer-list-inline">
                        <li class="footer-list-inline-item">
                            <a href="https://www.linkedin.com/in/kabari-emmanuel/" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fab fa-linkedin-in"></i>
                                </span>
                            </a>
                        </li>
                        <li class="footer-list-inline-item">
                            <a href="https://github.com/Kabari" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fab fa-github"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- about item end -->
        {% endblock %}