<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<body>
    <!-- navigation section -->
    <header>
        <a class="logo" href="">
            <h2>Blogga</h2>
        </a>
        <nav>
            <ul class="nav_links">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('create_post') }}">Create Post</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                <li><a href="{{ url_for('logout') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                {% else %}
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('register') }}">Sign Up</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('login') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p class="footer">
            &copy; AppName
            <script>
                document.write(new Date().getFullYear());
            </script>
        </p>
    </footer>

</body>

</html>