<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="https://kit.fontawesome.com/5d9d923648.js" crossorigin="anonymous"></script>
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<body>
    <!-- navigation section -->
    <header>
        {% if current_user.is_authenticated %}
            <a class="logo" href="{{url_for('home')}}">
                <h2>Blogga &#124;</h2>
                <p>Hello {{current_user.username}}</p>
            </a>
        {% else %}
            <a class="logo" href="{{url_for('home')}}">
                <h2>Blogga &#124;</h2>
            </a>
        {% endif %}
        <nav>
            <ul class="nav_links">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('create_post') }}">Create Post</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('register') }}">Sign Up</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer-border-top">
        <div class="footer-container">
            <div class="row footer-row">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <ul class="footer-list-inline">
                        <li class="footer-list-inline-item">
                            <a href="https://www.linkedin.com/in/kabari-emmanuel/" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fab fa-linkedin-in"></i>
                                </span>
                            </a>
                        </li>
                        <li class="footer-list-inline-item">
                            <a href="https://www.facebook.com/emmanuel.kabari.56/" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fab fa-facebook"></i>
                                </span>
                            </a>
                        </li>
                        <li class="footer-list-inline-item">
                            <a href="https://github.com/Kabari" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fab fa-github"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div class="small">Copyright &copy; Emmanuel Kabari, AltSchool Africa. 2022</div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>