{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<section class="contact-section">
    <div class="contact-container">
        <div class="row">
            <div class="contact-section-title">
                <h2 data-heading="contact">Get In Touch</h2>
            </div>
        </div>
        <div class="row">
            <!-- contact item start -->
            <div class="contact-item">
                <div class="contact-item-inner">
                    <i class="fas fa-phone"></i>
                    <span>Phone</span>
                    <p>+234 814 814 9863</p>
                </div>
            </div>
            <!-- contact item end -->
            <!-- contact item start -->
            <div class="contact-item">
                <div class="contact-item-inner">
                    <a href="mailto:kabariirenaeus@gmail.com" target="_blank">
                        <i class="fas fa-envelope"></i>
                        <span>Email</span>
                        <p>kabariirenaeus@gmail.com</p>
                    </a>
                </div>
            </div>
            <!-- contact item end -->
            <!-- contact item start -->
            <div class="contact-item">
                <div class="contact-item-inner">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>Address</span>
                    <p>
                        Road 1, Plot 122B, Federal Housing Estate, Rumueme Port
                        Harcourt.
                    </p>
                </div>
            </div>
            <!-- contact item end -->
            <!-- contact item start -->
            <div class="contact-item">
                <div class="contact-item-inner">
                    <a href="https://www.linkedin.com/in/kabari-emmanuel/" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                        <span>LinkedIn</span>
                    </a>
                </div>
            </div>
            <!-- contact item end -->
            <!-- contact item start -->
            <div class="contact-item">
                <div class="contact-item-inner">
                    <a href="https://github.com/Kabari" target="_blank">
                        <i class="fab fa-github"></i>
                        <span>Github</span>
                    </a>
                </div>
            </div>
            <!-- contact item end -->
            <!-- contact item start -->
            <div class="contact-item">
                <div class="contact-item-inner">
                    <a href="https://www.facebook.com/emmanuel.kabari.56/" target="_blank">
                        <i class="fab fa-facebook"></i>
                        <span>Facebook</span>
                    </a>
                </div>
            </div>
            <!-- contact item end -->
        </div>

        <div class="row">
            <div class="contact-section-title">
                <h2 data-heading="contact">Send Me A Mail</h2>
            </div>
        </div>
        <div class="row">
            <div class="contact-form">
                <form action="">
                    <div class="row">
                        <div class="w-50">
                            <div class="input-group outer-shadow hover-in-shadow">
                                <input type="text" placeholder="Name" class="input-control" />
                            </div>
                            <div class="input-group outer-shadow hover-in-shadow">
                                <input type="text" placeholder="Email" class="input-control" />
                            </div>
                            <div class="input-group outer-shadow hover-in-shadow">
                                <input type="text" placeholder="Subject" class="input-control" />
                            </div>
                        </div>
                        <div class="w-50">
                            <div class="input-group outer-shadow hover-in-shadow">
                                <textarea class="input-control" placeholder="Message"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="submit-btn">
                            <input type="submit" class="btn-1" value="Send Message">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}