{% extends 'base.html' %}

{% block title %}
Create Post
{% endblock %}

{% block content %}



<!-- <section class="signup_section">
    <div class="signup-container">
        <h1>Create Post</h1>
        <form action="{{ url_for('create_post') }}" method="POST">
            <div class="text_field">
                <input type="text" name="caption" required>
                <span></span>
                <label for="caption">Caption</label>
            </div>
            <div class="text_field">
                <input type="text" name="content" required>
                <span></span>
                <label for="content">Content</label>
            </div>
            <input type="submit" name="" id="" value="Create Post">
        </form>
    </div>
</section> -->

<section class="message-section">
    <div class="message-container">
        <div class="message-title">Create Post</div>

        <form action="{{ url_for('create_post') }}" method="POST">
            <div class="message-data">

                <div class="title-box">
                    <span class="message-details">Caption</span>
                    <textarea class="input-control" name="caption" id="caption" placeholder="Create a Caption"
                        required></textarea>
                </div>

                <div class="message-box">
                    <span class="message-details">Content</span>

                    <textarea class="input-control" name="content" id="content" placeholder="Enter your Message"
                        required></textarea>
                </div>
            </div>
            <div class="button">
                <input class="message-btn" type="submit" value="Post">
            </div>
        </form>
    </div>
</section>
{% endblock %}