{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    {{ message }}
</div>
{% endfor %}

<section class="login_section">
    <div class="login-container">
        <h1>Login</h1>
        <form action="{{ url_for('login') }}" method="POST">

            <div class="text_field">
                <!-- <input type="text" name="username" required> -->
                {{ form.username() }}
                <span></span>
                <!-- <label for="Username">Username</label> -->
                {{ form.username.label }}
            </div>
            <div class="text_field">
                <!-- <input type="password" name="password" required> -->
                {{ form.password() }}
                <span></span>
                <!-- <label for="Password">Password</label> -->
                {{ form.password.label }}
            </div>
            <div class="pass">Forgot Password?</div>

            <!-- <input type="submit" value="Login"> -->
            {{ form.submit() }}

            <div class="login_link">
                Don't have an account? <a href="{{ url_for('register') }}">Create Account</a>
            </div>
        </form>
    </div>
</section>
{% endblock %}