{% extends 'base.html' %}

{% block title %}
Post
{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    {{ message }}
</div>
{% endfor %}

<div class="post-hero">
    <div class="post-container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col">
                <div class="post-heading">
                    <h1>{{post.caption}}</h1>
                    <span class="meta">
                        Posted by
                        {{ post.owner.username }}
                        on {{post.date_created.strftime('%d %B, %Y')}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Post Content-->
<article class="article-section">
    <div class="article-container">
        <div class="article-row">
            <div class="article-content">
                <p>{{post.content}}</p>
            </div>
        </div>
    </div>
</article>
{% if post.owner_id == current_user.id %}
<div class="btn-group">
    <div class="button">
        <a href="{{url_for('edit_post', id=post.id)}}"><input class="message-btn" id="message-btn" type="submit"
                value="Edit"></a>
    </div>
    <div class="button">
        <a href="{{url_for('delete_post', id=post.id)}}"><input class="message-btn" id="message-btn" type="submit"
                value="Delete"></a>
    </div>
</div>
{% endif %}
{% endblock %}